.header{
    height: 7%;
    background-color: rgb(80, 96, 238);
  }
  
  span{
    margin-left: 11rem;
    display: flex;
    align-items: center;
    
  }
  
  h1{
    font-size: 1.5rem;
    color: aliceblue;
  }

