<form>
    <h1>EXCLUIR CIDADE</h1>
   
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="cidade.nome" type="text" name="nome" disabled>
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label  >Descrição</mat-label>
        <input matInput [(ngModel)]="cidade.uf" type="text" name="UF" disabled>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-flat-button color="primary"> EXCLUIR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-flat-button color="warn"> CANCELAR </button>
    </div>
</form>